<!DOCTYPE html>
<html>
  <head>
    <title>Create post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/posts">Show posts</a>
    <h1>Create post</h1>
    <form action="/posts/create" method="post">
      <input type="text" name="title" id="title" />
      <textarea name="content" id="content" style="display: block"></textarea>
      <button type="submit">Create post</button>
    </form>
  </body>
</html>