<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/posts/create">Create a post</a>
    <h1>Posts</h1>
    <% posts.forEach((post)=>{%>
    <div>
        <h2><%= post.title  %></h2>
        <p><%= post.content %></p>
        <span style="font-size: 10px;"><%= post.createdAt.toLocaleDateString()%></span>
    </div>
   <% }) %>

  </body>
</html>