/* body {
    position: relative;
}
.post-container {
    position: absolute;
    animation: move 4s linear infinite;
    left: 0px;
    top:  0px;
}

@keyframes move {
    0%{
        top: 0px;
        left: 0%;
    }
} */